.vscode/
.vagrant*
bin
docker/docker
.*.swp
a.out
*.orig
build_src
.flymake*
.idea
.DS_Store
docs/_build
docs/_static
docs/_templates
.gopath/
.dotcloud
*.test
bundles/
.hg/
vendor/pkg/
pyenv
Vagrantfile
chromium-browser-unstable_120.0.6099.312-1_amd64.deb
